In [29]:
import pandas as pd
import numpy as np
from scipy.stats import trim_mean

In [10]:
states=pd.read_csv('/Users/Amit/Downloads/state.csv')

In [13]:
states.head()

        State  Population  Murder.Rate Abbreviation
0     Alabama     4779736          5.7           AL
1      Alaska      710231          5.6           AK
2     Arizona     6392017          4.7           AZ
3    Arkansas     2915918          5.6           AR
4  California    37253956          4.4           CA

In [14]:
states['Population'].mean()

6162876.3

In [23]:
trim_mean(states['Population'],0.1)

4783697.125

In [24]:
states['Population'].median()

4436369.5

In [26]:
weighted_mean=np.average(states['Murder.Rate'],weights=states['Population'])
weighted_mean

4.445833981123393

In [30]:
# weignted_median=np.quantile(states['Murder.Rate'],0.5,weights=states['Population'])